nav {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}

#health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background:rgb(0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
#bar {
  background:rgb(24, 167, 55);
  width: 190px;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}

#hit {
  background: rgba(252, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .3s linear;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#health-bar2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 20px;
  padding: 5px;
  background:rgb(0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
#bar2 {
  background:rgb(24, 167, 55);
  width: 190px;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}

#hit2 {
  background: rgba(252, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .3s linear;
}

.keys {
  display:flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.key {
  border: .6rem solid black;
  border-radius: .5rem;
  margin: 3rem;
  font-size: 2.5rem;
  padding: .5rem 1rem;
  transition: all .07s ease;
  width: 7rem;
  height: 7rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}
.startkey{
  border: .6rem solid rgb(10, 161, 48);
  border-radius: .5rem;
  margin: 3rem;
  font-size: 2.5rem;
  padding: 1rem 1rem;
  transition: all .07s ease;
  width: 14rem;
  text-align: center;
  color: white;
  background: rgba(28, 240, 39, 0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ff1100;
  box-shadow: 0 0 2rem #e01d0f;
}

kbd {
  display: block;
  font-size: 10rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ff0800;
}

table.cinereousTable {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 3px solid #2B4544;
  background-color: #D0E4F5;
  width: 200px;
  text-align: center;
}
table.cinereousTable td, table.cinereousTable th {
  border: 2px solid #000000;
  padding: 10px 3px;
}
table.cinereousTable tbody td {
  font-size: 15px;
}
table.cinereousTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.cinereousTable td:nth-child(even) {
  background: #D0E4F5;
}
table.cinereousTable thead {
  background: #1A5F73;
  background: -moz-linear-gradient(top, #538796 0%, #316f81 66%, #1A5F73 100%);
  background: -webkit-linear-gradient(top, #538796 0%, #316f81 66%, #1A5F73 100%);
  background: linear-gradient(to bottom, #538796 0%, #316f81 66%, #1A5F73 100%);
  border-bottom: 0px solid #444444;
}
table.cinereousTable thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: center;
  border-left: 0px solid #948473;
}
table.cinereousTable thead th:first-child {
  border-left: none;
}

table.cinereousTable tfoot td {
  font-size: 16px;
}



img:hover {
  animation: shake 0.5s;
  
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
}